{% extends 'xeon/base.html' %}

{% block content %}
<div class="container mt-5">

    <h2>Edit Income</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label>Amount</label>
            <input type="number" name="amount" value="{{ income.amount }}" class="form-control">
        </div>

        <div class="form-group">
            <label>Category</label>
            <select name="category" class="form-control">
                {% for cat in categories %}
                <option value="{{ cat.id }}"
                    {% if cat.id == income.category.id %}selected{% endif %}>
                    {{ cat.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Source</label>
            <input type="text" name="source" value="{{ income.source }}" class="form-control">
        </div>

        <div class="form-group">
            <label>Date</label>
            <input type="date" name="date" value="{{ income.date|date:'Y-m-d' }}" class="form-control">
        </div>

        <div class="form-group">
            <label>Note</label>
            <textarea name="note" class="form-control">{{ income.note }}</textarea>
        </div>

        <button class="btn btn-success">Update Income</button>

    </form>

</div>
{% endblock %}